In [34]:
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

#Import dataset

strikers_data= pd.read_csv('C:/Users/jesus/OneDrive/Documentos/STRIKERS_DATA_2.csv')  

# Split the data into features (X) and target variable (y)
X = strikers_data.drop(columns=['GOALS','Player_ID','SHIRT_N','Penalty','M_SEASON','ROUND_N'])
y = strikers_data['GOALS']

# Split the dataset into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initialize the Random Forest regressor
rf_regressor = RandomForestRegressor(n_estimators=100, random_state=42)

# Fit the model to the training data
rf_regressor.fit(X_train, y_train)


# Predict on the test set
y_pred = rf_regressor.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f"Mean Squared Error: {mse:.2f}")
print(f"R-squared: {r2:.2f}")

Mean Squared Error: 0.59
R-squared: 0.17

In [35]:
# Create a DataFrame with 'predictions' and 'actual' columns
df = pd.DataFrame(data={'predictions': y_pred, 'actual': y_test})

# Print the DataFrame
pd.set_option('display.max_rows', None)
print(df)

     predictions  actual
213         1.12       0
331         0.13       0
501         0.23       1
309         1.34       2
88          0.26       1
535         0.07       0
280         1.56       0
107         1.44       3
59          0.47       0
506         0.65       1
359         0.20       2
445         0.49       0
70          0.71       3
96          0.24       0
858         0.32       0
750         0.59       1
864         0.22       0
933         0.17       1
76          0.34       0
826         1.09       1
198         0.55       1
499         0.19       1
710         1.49       2
500         0.24       0
536         0.03       0
790         1.09       1
874         0.21       0
518         0.25       0
457         0.94       3
945         0.76       0
813         1.64       3
728         0.97       0
603         0.23       0
597         0.13       0
673         0.81       0
689         1.14       2
382         1.80       2
939         0.57       0
616         0.29       0
655         0.25       0
965         0.90       0
23          0.11       0
30          0.47       1
730         0.83       0
10          0.98       1
174         0.85       2
522         0.35       0
643         0.57       0
721         1.12       0
318         1.23       2
139         0.51       2
286         0.54       0
926         0.06       0
485         0.23       0
449         0.44       0
832         0.95       0
567         0.27       0
362         0.12       0
209         0.50       0
591         0.65       2
442         0.47       1
265         0.26       2
915         0.62       0
281         0.67       1
380         1.07       0
39          0.36       0
870         0.18       0
857         0.17       0
626         0.29       0
66          0.52       0
481         0.51       0
67          0.93       0
583         0.26       0
423         0.05       0
352         0.53       1
261         0.30       1
765         0.51       1
780         0.23       0
244         1.47       0
811         0.86       1
292         0.81       0
424         0.90       0
63          0.83       0
817         0.44       0
184         0.55       2
596         0.28       0
762         0.10       0
523         0.08       0
363         0.30       1
538         0.25       0
254         0.30       0
806         0.56       2
388         0.42       0
684         1.00       0
976         0.27       1
545         0.75       0
86          0.75       0
644         0.66       1
158         0.33       0
548         0.16       0
830         1.29       1
350         0.58       0
697         0.89       2
585         0.19       0
756         0.53       1
247         0.45       0
940         0.33       0
319         0.98       1
433         0.50       0
478         0.25       0
618         0.23       0
136         1.28       1
931         0.17       0
497         0.62       0
986         0.39       0
525         0.15       0
55          0.91       0
863         0.34       1
893         0.81       1
439         0.31       1
120         0.66       3
25          0.81       2
72          1.50       1
850         0.16       0
44          0.47       0
672         0.29       0
734         0.72       1
621         0.96       0
934         0.94       1
929         0.14       0
866         0.48       0
260         0.23       0
802         0.55       0
221         0.15       1
342         0.01       0
638         1.00       1
299         0.82       1
909         0.67       0
898         0.72       1
932         0.44       0
266         0.33       0
289         0.49       1
60          0.74       0
977         0.15       0
432         1.87       4
905         0.60       1
666         0.06       1
588         0.16       0
168         1.59       0
290         1.24       0
884         0.30       0
218         0.36       0
210         0.54       0
321         0.36       0
199         0.26       0
110         0.62       0
916         0.13       0
521         0.31       0
328         0.11       1
231         0.62       0
796         0.55       0
310         1.09       0
861         0.13       0
692         0.50       0
788         1.39       1
394         1.47       2
451         0.49       1
137         0.32       0
344         0.08       0
420         0.05       1
715         1.59       1
868         0.35       0
759         0.40       0
551         0.66       0
544         0.15       0
513         0.94       2
853         0.11       1
767         1.73       2
803         0.43       0
78          0.68       1
29          0.47       0
890         0.42       0
899         0.43       0
467         0.28       0
731         0.85       1
165         0.41       2
557         0.09       0
482         0.33       1
448         0.41       0
65          1.33       0
141         0.45       2
630         0.63       0
746         0.92       4
450         0.60       0
705         1.54       0
305         0.81       0
808         0.48       0
237         0.66       0
754         0.22       0

In [36]:
df.sum()

predictions    115.1
actual         107.0
dtype: float64

In [37]:
y_pred_f = rf_regressor.predict(X)
strikers_data['goals_predicted']=y_pred_f
strikers_data.head(10)
player_pred = strikers_data.groupby(['Player_ID']).agg({'GOALS': 'sum', 'goals_predicted': 'sum'})
print(player_pred)

           GOALS  goals_predicted
Player_ID
BE-9          80            82.32
CZ-10         17            17.58
CZ-16          2             5.79
DE-11         11            10.16
DK-11          4             4.72
DK-16         11            14.10
ENG-9         62            62.76
ES-19         34            38.25
FR-10         46            48.88
HR-7           2             5.68
HU-20         12            16.03
IT-19          4             3.13
NL-10         44            43.15
PL-9          69            64.25
PT-7         116           118.91
PT-9           8             9.06
SC-9           5             6.72
UA-9           8             8.32

In [38]:
# Export to Excel
player_pred.to_excel('player_pred_P.xlsx', index=False)

In [31]:
#Import dataset

new_data= pd.read_csv('C:/Users/jesus/OneDrive/Documentos/prediction_temp.csv')  

# Split the data into features (X) and target variable (y)
X1 = new_data.drop(columns=['Player_ID','SHIRT_N','M_SEASON','ROUND_N'])
X1.head(10)

,AGE,HEIGHT,FOOT,SQUAD_RANKING,OPPONENT RANKING,M_WEEKDAY,M_MONTH,YEAR,COMPETITION_N,VENUE_N,STARTER,STRIKER,Penalty_shooter,MINUTES
0,39,187,1,6,36,2,6,2024,3,3,1,1,1,85
1,39,187,1,6,40,6,6,2024,3,3,1,1,1,85
2,39,187,1,6,75,3,6,2024,3,3,1,1,1,85
3,23,184,1,6,36,2,6,2024,3,3,0,1,0,25
4,23,184,1,6,40,6,6,2024,3,3,0,1,0,25
5,23,184,1,6,75,3,6,2024,3,3,0,1,0,25
6,31,192,2,3,48,1,6,2024,3,3,1,1,1,75
7,31,192,2,3,46,6,6,2024,3,3,1,1,1,75
8,31,192,2,3,22,3,6,2024,3,3,1,1,1,75
9,28,186,2,36,6,2,6,2024,3,3,1,1,1,75

In [32]:
y_new_pred = rf_regressor.predict(X1)
new_data['goals_predicted']=y_new_pred
new_data.head(10)

,Player_ID,SHIRT_N,AGE,HEIGHT,FOOT,SQUAD_RANKING,OPPONENT RANKING,M_WEEKDAY,M_MONTH,M_SEASON,YEAR,COMPETITION_N,ROUND_N,VENUE_N,STARTER,STRIKER,Penalty_shooter,MINUTES,goals_predicted
0,PT-7,7,39,187,1,6,36,2,6,2,2024,3,1,3,1,1,1,85,0.50
1,PT-7,7,39,187,1,6,40,6,6,2,2024,3,1,3,1,1,1,85,0.55
2,PT-7,7,39,187,1,6,75,3,6,2,2024,3,1,3,1,1,1,85,1.11
3,PT-9,9,23,184,1,6,36,2,6,2,2024,3,1,3,0,1,0,25,0.45
4,PT-9,9,23,184,1,6,40,6,6,2,2024,3,1,3,0,1,0,25,0.47
5,PT-9,9,23,184,1,6,75,3,6,2,2024,3,1,3,0,1,0,25,0.77
6,BE-9,9,31,192,2,3,48,1,6,2,2024,3,1,3,1,1,1,75,0.85
7,BE-9,9,31,192,2,3,46,6,6,2,2024,3,1,3,1,1,1,75,1.16
8,BE-9,9,31,192,2,3,22,3,6,2,2024,3,1,3,1,1,1,75,0.71
9,CZ-10,10,28,186,2,36,6,2,6,2,2024,3,1,3,1,1,1,75,0.37

In [33]:
player_pred_euro24_R = new_data.groupby(['Player_ID']).agg({'goals_predicted': 'sum'})
print(player_pred_euro24_R)
# Export to Excel
player_pred_euro24_R.to_excel('rf_reg.xlsx', index=False)

           goals_predicted
Player_ID
BE-9                  2.72
CZ-10                 1.56
CZ-16                 0.80
DE-11                 0.94
DK-11                 2.32
DK-16                 0.64
ENG-9                 2.13
ES-19                 1.88
FR-10                 1.95
HR-7                  1.58
HU-20                 1.22
IT-19                 0.91
NL-10                 1.28
PL-9                  1.97
PT-7                  2.16
PT-9                  1.69
SC-9                  0.78
UA-9                  1.31